
body, h1, h2, p, input, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #dad9d9; */
  background: linear-gradient(to bottom right, #ffffff, #e0e6ff) fixed  center center/cover;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  margin-left: 5px;
  background-color: #0bc214;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #32cf74;
}

#forecastContainer {
  display: grid;
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(2, 1fr ); 
  justify-content: center; 
  grid-gap: 10px; 
}

/* .card {
  border: 1px solid #0c0c0c;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: grid;
  place-items: center; 
} */

.card {
  width: 200px; 
  border: 1px solid #ccdcfc;
  border-radius: 3px;
  /* background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
  padding: 0 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  display: grid;
  text-align: center ; 
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.card p {
  margin: 5px 0;
}
